{% extends 'base.html.twig' %}
{% block body %}
    {% set products = products??[] %}


    <h1>{{ _self }}</h1>

    <h3>
{#        Note: this is running Symfony {{ symfonyVersion }}#}
    </h3>
{% endblock %}
